.cardCabA {
    width: 650px;
    height: 220px;
    margin: 160px auto 360px auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 23px 27px 57px 0px #ababab;
    border-radius: 20px;
    font-size: 12px;
}

.titleCabA {
    font-family: 'Montserrat', sans-serif;
    color: #777;
    text-align: center;
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 38px;
}

.butnCabA {
    font-family: 'Montserrat', sans-serif;
    background: #177E46;
    color: #fff;
    border: none;
    font-size: 16px;
    width: auto;
    height: 56px;
    padding: 15px 39px;
    border-radius: 10px;
    margin: 20px auto;
    cursor: pointer;
}
.butnCabA:hover {
    background: #5f9c7b;
}